@import 'variables';
@import 'mixins';

.container {
    margin-bottom: 16rem;
}

.buttons {

    .nav-buttons {
        margin-top: 1rem;
    }

    @include mobile {
        display: flex;
        justify-content: space-between;

        .nav-buttons {
            margin-top: 0;
        }
    }
    
    .buttons-group {
        display: flex;
        gap: 2rem;
    }
}

h1 {
    text-align: center;
}