<app-header></app-header>
<div class="container">
    <h1>Home</h1>
    <div class="home-container fadeIn first">
        <div class="home-image-container">
            <img class="home-image" src="../../../assets/homeImage.png" alt="Home Image">
        </div>
        <div class="home-introduction">
            <p>When we want to save a people data list, usually we do not find the securest and fastest way to stored it.</p>
            <p><span>Carlog App</span> is more than a user list saver. It committed to you to protect both your personal data and your people list in an easy and fast way. We have a high quality system that provides user the safest experience.</p>
            <p>Regarding to the application structure, our software team is continually in charge of performance improvements.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>