<app-header></app-header>
<div class="container">
    <h1>Home</h1>
    <div class="home-container">
        <div class="home-image-container">
            <img class="home-image" src="../../../assets/homeImage.png" alt="Home Image">
        </div>
        <div class="home-introduction">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ratione dolor, vero itaque repudiandae cum? Commodi, nisi amet dignissimos iure, quam eligendi molestias, rem deleniti suscipit sequi modi ullam consectetur.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae illum veniam hic nisi culpa esse placeat expedita quos ipsam impedit, facilis qui, eius magnam modi. Enim, beatae. Quod, voluptate eos?</p>
        </div>
    </div>
</div>
<app-footer></app-footer>