.home-container {
    text-align: center;
    position: relative;
    margin-bottom: 10rem;

    .home-image-container {
        
        .home-image {
            width: 25%;
            opacity: .5;
        }
    }
    
    .home-introduction {
        margin: 5rem;
    }
}
