<app-header></app-header>
<h1 class="container">Home</h1>
<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ratione dolor, vero itaque repudiandae cum? Commodi, nisi amet dignissimos iure, quam eligendi molestias, rem deleniti suscipit sequi modi ullam consectetur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae illum veniam hic nisi culpa esse placeat expedita quos ipsam impedit, facilis qui, eius magnam modi. Enim, beatae. Quod, voluptate eos?</p>
</div>
<app-footer></app-footer>