<div class="container">
    <div class="wrapper fadeInDown">
        <div class="formContent">
            <div class="fadeIn first">
                <img class="logo-icon" src="assets/logo.png" alt="User Icon" />
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                <input type="email" class="fadeIn second" formControlName="email" placeholder="Enter your email">
                <input type="password" class="fadeIn third" formControlName="password" placeholder="Enter your password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
        </div>
    </div>
    <div class="welcome fadeIn first">
        <img class="welcome-image" src="assets/icon.webp" alt="Welcome Image">
        <hr class="horizontal-line-image">
    </div>
</div>