@import 'variables';

h2 {
    text-align: center;
}

input {
    opacity: .8;
}

.container {
    margin-bottom: 16rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    
    .buttons-group {
        display: flex;
        gap: 2rem;
    }
}