<app-header></app-header>
<div class="container">
    <h1>Contact</h1>
    <p>If you have any question or suggestion, do not hesitate to contact us. </p>
    <div class="form-image-section fadeInDown">
        <div class="image-container">
            <img class="contact-image" src="../../../assets/contactIcon.png" alt="Form Image">
            <img class="frontal-contact-image" src="../../../assets/frontalContactIcon.png" alt="Form Image">
        </div>
        <div class="form-section">
            <form class="form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" placeholder="Introduce your name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" placeholder="Introduce your email">
                </div>        
                <div class="mb-3">
                    <label class="form-label">Message</label>
                    <textarea class="form-control"></textarea>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="buttons">
        <button type="submit" class="btn btn-primary" (click)="showMessage()">Send</button>
        <button class="btn btn-outline-dark" routerLink="/home">Return to Home</button>
    </div>
</div>
<app-footer></app-footer>