<app-header></app-header>
<div class="container">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloribus dignissimos soluta sint non illum necessitatibus alias sed facilis eum minima vel reprehenderit, impedit ipsum assumenda. Architecto dolorum impedit voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloribus dignissimos soluta sint non illum necessitatibus alias sed facilis eum minima vel reprehenderit, impedit ipsum assumenda. Architecto dolorum impedit voluptatibus.</p>
    <hr>
    <div class="buttons">
        <button type="submit" class="btn btn-primary" (click)="showMessage()">Send</button>
        <button class="btn btn-outline-dark" routerLink="/home">Return to Home</button>
    </div>
</div>
<app-footer></app-footer>