<app-header></app-header>
<div class="container">
    <h1>Contact</h1><br>
    <p>If you have any question or suggestion, do not hesitate to contact us. </p>
    <div class="form-image-section fadeInUp">
        <div class="image-container">
            <img class="contact-image" src="./assets/contactIcon.webp" alt="Form Image">
            <img class="frontal-contact-image" src="./assets/frontalContactIcon.webp" alt="Form Image">
        </div>
        <div class="form-section">
            <form class="form" [formGroup]="formCreate" (ngSubmit)="sendRequest()" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" formControlName="name" placeholder="Introduce your name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" formControlName="email" placeholder="Introduce your email">
                </div>        
                <div class="mb-3">
                    <label class="form-label">Message</label>
                    <textarea class="form-control" formControlName="message"></textarea>
                </div>
                <div *ngIf="(formCreate.get('name').errors && formCreate.get('name').dirty) ||
                formCreate.get('email').errors && formCreate.get('email').dirty ||
                formCreate.get('message').errors && formCreate.get('message').dirty">
                <p class="error-message" *ngIf="formCreate.get('name').hasError('required') ||
                formCreate.get('email').hasError('required') ||
                formCreate.get('message').hasError('required')">Fill in all the fields is necessary.</p>
                <p class="error-message" *ngIf="formCreate.get('email').hasError('required') ||
                formCreate.get('email').hasError('email')">Correct email format is necessary.</p>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="formCreate.invalid">Send</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="home-button">
        <button type="button" class="btn btn-outline-dark right-button" routerLink="/home">Return to Home</button>
    </div>
</div>
<app-footer></app-footer>