<app-header></app-header>
<div class="container">
    <h1>About Us</h1><br>
    <p>We are offering our services since 2020, always keepping in mind our goal. We have been increasing Carlog's family with a lot of professionals, good engineers but most importantly excellent people.</p>
    <p>Our next step is to boost the company to the next level. By improving our practices and with hard work, we will spread across Europe and beyond!</p><br>
    <span class="loader"></span><br>
    <div class="opinion-section">
        <h3>Opinions</h3>
        <p>Here you can check the satisfaction level of our clients with the service we have offered to them.</p>
        <div class="opinions-group">
            <div class="user-opinion fadeIn first">
                <img class="user-image" src="../../../assets/userDefault.png" alt="User Default">
                <div class="user-info">
                    <p class="user-name">Sara Jackson</p>
                    <img class="stars-image" src="../../../assets/stars.png" alt="Stars Image">
                </div>
                <p class="opinion">Excellent service!</p>
            </div>
            <div class="user-opinion fadeIn third">
                <img class="user-image" src="../../../assets/userDefault.png" alt="User Default">
                <div class="user-info">
                    <p class="user-name">Randall Forbes</p>
                    <img class="stars-image" src="../../../assets/stars.png" alt="Stars Image">
                </div>
                <p class="opinion">Absolutely recommended, very useful app.</p>
            </div>
            <div class="user-opinion fadeIn second">
                <img class="user-image" src="../../../assets/userDefault.png" alt="User Default">
                <div class="user-info">
                    <p class="user-name">Elijah Fisher</p>
                    <img class="stars-image" src="../../../assets/stars.png" alt="Stars Image">
                </div>
                <p class="opinion">High quality and practical app.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="button">
        <button class="btn btn-outline-dark home" routerLink="/home">Return to Home</button>
    </div>
</div>
<app-footer></app-footer>