/* Paul Irish Snippet */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Global Configuration */
body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
