@import 'variables';
@import 'mixins';

.horizontal-line {
    margin-top: 0;
    height: .1rem;
    width: auto;
    border: none;
    background-color: red;
    // background: linear-gradient(90deg, transparent,red, transparent);
    background: linear-gradient(to right, red -50%, transparent 80%);
}

.separator {
    opacity: .3;
    display: none;

    @include desktop {
        display: flex;
    }
}

@include desktop {
    .navigation-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .navigation-bar-group {
            display: flex;
        }
    }
}

.logout-link {
    cursor: pointer;
}