<nav class="navbar navbar-expand-lg text-black bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">{{title}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="separator">|&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <div class="collapse navbar-collapse navigation-bar" id="navbarNav">
      <ul class="navbar-nav navigation-bar">
        <div class="navigation-bar-group">
          <li class="nav-item">
            <a class="nav-link" href="/list">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </div>
        <div class="navigation-bar-logout">
          <li class="nav-item navigation-bar-logout">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<hr class="horizontal-line">
<br><br>